body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #120038 0%, #000000 100%);
}

h1.logo {
  text-align: center;
  font-size: 3rem;
  color: rgb(231, 230, 236);
  text-shadow: 2px 2px 4px rgb(191, 0, 255);
  margin: 0 0 20px 0; /* Add some margin below the logo */
}

.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Adjust this value to control the spacing between grid items */
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  color: inherit;
  box-shadow: 0px 0px 12px rgba(191, 0, 255, 0.689);
  max-width: 300px; /* Adjust this value as needed */
  width: 100%;
}

.grid-item h1 {
  margin: 0;
  font-size: 1.5rem;
}
