body {
    background-color: rgb(35, 49, 62);
    /* background-color: rgb(26, 26, 46); */
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    color:rgb(236, 230, 230);
    text-shadow: 3px 3px 5px rgb(37, 147, 0);
}

h2 {
    text-align: center;
    color: rgb(236, 230, 230);
    text-shadow: 2px 2px 5px rgb(37, 147, 0);
    margin-top: 4rem;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 2.25rem;
    top: -3px;
    z-index: 1;   
    border-radius: 0px 0px 1rem 1rem;
    /* border: 2px rgba(191, 0, 255, 689) solid; */
    box-shadow: 0px 0px 12px rgba(191, 0, 255, 0.689);
}

#header-text {
    font-size: 1.75rem;
    font-weight: 300;
    margin-top: 0.25rem;
    color:rgb(255, 255, 255);
    text-shadow: 3px 3px 4px rgb(191, 0, 255, 689);
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

}

#video {
    position: relative;
    border-radius: 1rem;
    border-style: solid;
    border-width: 0.2rem;
    width: 90%;
    max-width: 500px;
    margin: auto;
}


#bing {
 
    border-radius: 1rem;
    border-style: solid;
    border-width: 0.2rem;
    width: 90%;
    max-height: 10rem;
    max-width: 650px;
    margin: auto;
}

#map {
    border-radius: 50px;
    border-style: solid;
    border-color: black;
    border-width: 0.2rem;
    max-height: 20rem;
    max-width: 20rem;
    width: 90%;
    margin: auto;
}