body {
    background-color: rgb(47, 65, 83);
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 5rem;
    color:rgb(0, 0, 0);
    text-shadow: 3px 3px 5px rgb(37, 147, 0);
}

h2 {
    text-align: center;
    color: rgb(236, 230, 230);
    text-shadow: 2px 2px 5px rgb(37, 147, 0);
    margin-top: 4rem;
}

.container {
    display: flex;
    /* background-color: black; */
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

}

#video {
    position: relative;
    border-radius: 1rem;
    border-style: solid;
    border-width: 0.2rem;
    width: 95%;
    max-width: 500px;
    margin: auto;
}


#bing {
 
    border-radius: 1rem;
    border-style: solid;
    border-width: 0.2rem;
    width: 95%;
    max-height: 10rem;
    max-width: 650px;
    margin: auto;
}

#map {
    border-radius: 50px;
    border-style: solid;
    border-color: black;
    border-width: 0.2rem;
    max-width: 650px;
    margin: auto;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem; */
}

@media (max-aspect-ratio: 3/2) {

    #map {
        width: 95%;
    }
}